<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="C:\Python311\python.exe|C:\Users\atong\OneDrive - Montefiore Medicine\Savings_Tracker_v2_Flask\.venv\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>
    <security>
      <authentication>
        <windowsAuthentication enabled="true" />
        <anonymousAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>
  <appSettings>
    <add key="PYTHONPATH" value="C:\Users\atong\OneDrive - Montefiore Medicine\Savings_Tracker_v2_Flask" />
    <add key="WSGI_HANDLER" value="run.app" />
    <add key="WSGI_LOG" value="C:\Users\atong\OneDrive - Montefiore Medicine\Savings_Tracker_v2_Flask\logs\wfastcgi.log" />
  </appSettings>
</configuration>
