<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="run.app" />
    <add key="PYTHONPATH" value="C:\Savings_Tracker_v2_Flask" />
    <add key="WSGI_LOG" value="C:\Savings_Tracker_v2_Flask\logs\wfastcgi.log" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="Python"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\Savings_Tracker_v2_Flask\.venv\Scripts\python.exe|C:\Savings_Tracker_v2_Flask\.venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>
